<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>form</h1>
    <form action="/predict" method="post">
       userName: <input type="text" name="userName" placeholder="user name"/>
       <input type="submit" value="submit">

    </form>

eee
    <form action="/predict" method="POST" enctype="application/json">
        <label for="ph">pH:</label>
        <input type="text" id="ph" name="ph"><br><br>
      
        <label for="hardness">Hardness:</label>
        <input type="text" id="hardness" name="hardness"><br><br>
      
        <label for="solids">Solids:</label>
        <input type="text" id="solids" name="solids"><br><br>
      
        <label for="chloramines">Chloramines:</label>
        <input type="text" id="chloramines" name="chloramines"><br><br>
      
        <label for="sulfate">Sulfate:</label>
        <input type="text" id="sulfate" name="sulfate"><br><br>
      
        <label for="conductivity">Conductivity:</label>
        <input type="text" id="conductivity" name="conductivity"><br><br>
      
        <label for="organic_carbon">Organic Carbon:</label>
        <input type="text" id="organic_carbon" name="organic_carbon"><br><br>
      
        <label for="trihalomethanes">Trihalomethanes:</label>
        <input type="text" id="trihalomethanes" name="trihalomethanes"><br><br>
      
        <label for="turbidity">Turbidity:</label>
        <input type="text" id="turbidity" name="turbidity"><br><br>
      
        <input type="submit" value="Submit">
      </form>
      <h1> {'ph': 7.2, 'Hardness': 300, 'Solids': 1000, 'Chloramines': 7, 'Sulfate': 200, 'Conductivity': 500, 'Organic_carbon': 20, 'Trihalomethanes': 50, 'Turbidity': 4}
        headers = {'Content-type': 'application/json'}</h1>
      
</body>
</html>